{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/logos/LOGOs_200px_AGUIERRE.jpg' %}" alt="">
                </div>
                <h1 id="company-name">AGIERRE</h1>
                <h4>ITÁLIA \ Equipamentos para Indústria Farmacêutica e de Alimentos</h4>
                <p>
                    A AGIERRE produz equipamentos industriais para aplicações farmacêuticas, químicas e alimentícias adequados para manuseio de pós e grânulos, incluindo operações de enchimento, descarga, pesagem, mistura, dosagem e transporte.
                    <br>
                </p>
                <a href="https://www.agierre.eu" target="_blank">agierre.eu ></a>
            </div>
        </div>
    </section>

{% endblock %}
