{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_BALLESTRA.jpg' %}" alt="">
                </div>
                <h1 id="company-name">BALLESTRA</h1>
                <h4>ITÁLIA \ Produtos Químicos</h4>
                <p>O Grupo Ballestra é líder global no desenvolvimento, engenharia e fornecimento de tecnologias avançadas, fábricas de processamento e equipamentos patenteados 
                    para diversos setores, incluindo produtos químicos para a vida, detergentes, surfactantes, sabões, produtos químicos e fertilizantes.
                    <br>
                </p>
                <a href="https://www.ballestra.com/" target="_blank">ballestra.com ></a>
            </div>
        </div>
    </section>

{% endblock %}
