{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_BFT.jpg' %}" alt="">
                </div>
                <h1 id="company-name">BFT</h1>
                <h4>ÁUSTRIA \ Equipamentos de Alta Pressão</h4>
                <p>A BFT é o único fornecedor global independente do setor.
                Como empresa líder na área de bombas de alta pressão para corte por jato de água, a BFT é o seu contato para soluções inovadoras e prontas para uso.
                Desde 1979, a BFT GmbH é fornecedora e fabricante tecnologicamente qualificada de sistemas de alta pressão e componentes de alta pressão para corte por jato de 
                água, indústrias química e petroquímica, bem como bombas para geração de pressões (até 12.000 bar) para meios líquidos. As bombas dosadoras de peróxido são 
                projetadas especificamente para a injeção em polietilenos de baixa densidade (LDPE). Com base em mais de 40 anos de experiência, nossos produtos são fabricados 
                de acordo com os mais altos padrões tecnológicos.
                    <br>
                </p>  
                <a href="https://www.bft-pumps.com/en/" target="_blank">bft-pumps.com ></a>
            </div>
        </div>
    </section>

{% endblock %}
