{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_BHDT.jpg' %}" alt="">
                </div>
                <h1 id="company-name">BHDT</h1>
                <h4>ÁUSTRIA \ Equipamentos de Alta Pressão</h4>
                <p>A BHDT é uma empresa austríaca especializada em engenharia interna, fabricação de equipamentos de alta pressão em cooperação com licenciadores bem conhecidos de processos químicos no setor de LDPE/EVA/EAA, bem como no setor de ureia/amônia/melanina, utilizando tecnologias de vanguarda, ferramentas de engenharia de última geração, máquinas de processamento controladas por computadores de alta precisão e levando em consideração as demandas dos clientes no mais alto nível de padrões tecnológicos.

                    Sua linha de produção contém todos os produtos de alta pressão necessários em uma planta de alta pressão, como reatores, resfriadores, válvulas de alta pressão, conexões e isométricos com acessórios.
                    
                    Graças a décadas de experiência e à qualidade dos seus produtos, alcançaram uma posição de líder de mercado.
                    <br>
                </p>
                <a href="https://www.bhdt.at" target="_blank">bhdt.at ></a>
            </div>
        </div>
    </section>

{% endblock %}
