{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_BOWERJONES.jpg' %}" alt="">
                </div>
                <h1 id="company-name">BOWERS & JONES</h1>
                <h4>REINO UNIDO \ Aços Especiais Inoxidáveis + Metalurgia</h4>
                <p>Fundada em 1954, a jornada da Bowers & Jones começou com uma visão simples, porém ambiciosa: redefinir os padrões de laminação de metais de precisão e estabelecer novos padrões de excelência no setor. Hoje, essa visão permanece no centro de tudo o que produz. Desde o design de rolos de alta precisão até o fornecimento de serviços abrangentes de reforma de moinhos.
                    Compromisso de “manter os moinhos funcionando” é mais do que apenas um lema — é uma promessa que se cumpre com cada produto entregue.
                    <br>
                </p>
                <a href="https://bowersjones.com/" target="_blank">bowersjones.com ></a>
            </div>
        </div>
    </section>

{% endblock %}
