{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_BREITENFELDSTEEL.jpg' %}" alt="">
                </div>
                <h1 id="company-name">BREITENFELD STEEL</h1>
                <h4>ÁUSTRIA \ Aços Especiais e Inoxidáveis + Metalurgia</h4>
                <p>Breitenfeld Steel é um produtor austríaco de aço inoxidável estabelecido, fundado em 1942, com cerca de 320 funcionários.
                    A Breitenfeld Steel opera uma siderúrgica elétrica, uma usina de aço especial e uma forjaria em sua fábrica em St. Barbara im Mürztal (Áustria).
                    A linha de produtos inclui todos os tipos de aços inoxidáveis especiais convencionais, qualidades refundidas ESR e VAR e barras de aço forjadas planas e 
                    redondas.
                    <br>
                </p>
                <a href="https://breitenfeld.at/" target="_blank">breitenfeld.at ></a>
            </div>
        </div>
    </section>

{% endblock %}
