{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_CHRISTOF.jpg' %}" alt="">
                </div>
                <h1 id="company-name">CHRISTOF GROUP SBN</h1>
                <h4>ÁUSTRIA \ Equipamentos de Alta Pressão + Petróleo e Gás + Produtos Químicos e Fertilizantes</h4>
                <p>O Grupo Christof SBN é especialista na fabricação de equipamentos de alta pressão para a indústria de fertilizantes e especialmente para plantas de amônia e uréia.

                    Conhecimento abrangente de materiais e décadas de know-how no projeto e produção de vasos de pressão sofisticados, em construção monoparede ou multicamada, resultam na implementação ideal das necessidades dos clientes, ao mesmo tempo em que se concentra na mais alta qualidade possível em design e acabamento, bem como na entrega dentro do prazo .
                    
                    O departamento de serviço, inspeção e pós-venda (SIAS) do Grupo Christof SBN pode oferecer aos seus clientes serviços especiais no local, tais como: peças sobressalentes, incluindo divisores de líquidos, modificação no local, reparo de reatores de ureia e trocadores de calor de alta pressão, recolocação, instalação em campo, inspeção, manutenção e reusinagem de superfícies de vedação.
                    <br>
                </p>
                <a href="https://www.christof-group.com/" target="_blank">christof-group.com ></a>
            </div>
        </div>
    </section>

{% endblock %}
