{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_CONTHERMO.jpg' %}" alt="">
                </div>
                <h1 id="company-name">CONTHERMO</h1>
                <h4>ALEMANHA \ Fornos</h4>
                <p>Armários de aquecimento e fornos tipo túnel utilizados para aquecimento, secagem, têmpera/envelhecimento, bem como liquefação de tambores e conteúdo do recipiente, entre outros.
                    <br>
                </p>
                <a href="https://conthermo.de/homepage.html" target="_blank">conthermo.de ></a>
            </div>
        </div>
    </section>

{% endblock %}
