{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/Dekompte.jpg' %}" alt="">
                </div>
                <h1 id="company-name">DEKOMTE</h1>
                <h4>ALEMANHA \ Juntas de Expansão + Petróleo e Gás + Termoelétricas</h4>
                <p>Com uma reputação mundial de excelência, a DEKOMTE é especializada na fabricação de juntas de expansão de tecido e aço inoxidável para usinas termelétricas.

                    Além de fornecer produtos de alta qualidade adaptados para atender a vários padrões técnicos, ciclos de manutenção e orçamentos, a DEKOMTE oferece inspeção e pesquisas técnicas para auxiliar na definição de estratégias de manutenção e confiabilidade.
                    
                    Além do setor de geração de energia, as juntas de expansão DEKOMTE são essenciais para indústrias como petróleo e gás, refinarias, plantas químicas, siderúrgicas, usinas solares térmicas, instalações nucleares e muito mais.
                    
                    Embora algumas soluções sejam padrão para geração de energia, muitas são exclusivamente criadas pela equipe técnica altamente treinada da DEKOMTE para atender a requisitos técnicos complexos.
                    
                    <br>A experiência técnica da DEKOMTE garante a entrega de soluções ideais para todos os desafios de juntas de expansão.
                    <br>
                </p>
                <a href="https://www.dekomte.com/en_gb/" target="_blank">dekomte.com></a>
            </div>
        </div>
    </section>

{% endblock %}
