{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_GKT.jpg' %}" alt="">
                </div>
                <h1 id="company-name">GKT</h1>
                <h4>ÁUSTRIA \ Equipamentos para Indústria de Papel e Celulose + Tecnologias Ambientais + Tecnologias para Produtos Químicos e Fertilizantes</h4>
                <p>GKT é um fornecedor austríaco de atuação global de plantas industriais de alta qualidade para separação térmica e tecnologias ambientais. Nós nos concentramos no projeto e fabricação de tecnologia de película descendente, película fina, caminho curto, destilação e secagem, bem como em sistemas para valorização de CO2 e utilização de calor residual.

                    Nossas máquinas e plantas são aplicadas principalmente nos processos de produção das indústrias de celulose (kraft, sulfito, solúvel), (bio)refinaria, fibra, combustíveis alternativos, química, (bio)plástico, alimentos e rações, bem como no processamento industrial de águas residuais.
                    
                    A GKT, parte do Grupo Dr. Aichhorn, administra seu próprio centro técnico para testes e P&D e já concluiu vários projetos em todo o mundo, desde plantas piloto e unidades de skid até plantas prontas para uso em regime de EPC.
                    <br>
                </p>
                <a href="https://www.GKT-SOLUTIONS.COM/" target="_blank">GKT-SOLUTIONS.COM ></a>
            </div>
        </div>
    </section>

{% endblock %}
