{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_GMP.jpg' %}" alt="">
                </div>
                <h1 id="company-name">GMP</h1>
                <h4>ÍNDIA \ Portas e Painéis para Salas Limpas</h4>
                <p>GMP Technical Solutions Unip. Ltd.- Índia é um dos principais fabricantes de divisórias para salas limpas, equipamentos, portas industriais, portas metálicas resistentes ao fogo e não corta-fogo na Índia.

                    Para garantir que os nossos produtos cumprem os mais elevados padrões e qualidade, os nossos painéis são testados e certificados quanto à resistência ao fogo pela CE (Europa), UL (EUA), GOST (Rússia). As portas corta-fogo também são certificadas por UL (EUA), Warrington Fire (Reino Unido), CE (Europa), GOST (Rússia) e CBRI-Índia.
                                        
                    Também entregamos projetos chave na mão que incluem: HVAC, elétrica, tubulações de utilidades (água, vapor e ar comprimido), equipamentos de utilidades (caldeira, compressor de ar etc.), BMS (sistema de gerenciamento predial), sistemas de alarme de incêndio, pisos e validação etc.
                    
                    
                    Soluções Técnicas GMP Unip. foi fundada no ano de 2005 com sua primeira fábrica em Baddi, HP, perto de (Nova Delhi) na Índia. Atualmente a empresa se expandiu para 3 unidades fabris com uma área de infraestrutura total de 41.806 m2 e força de trabalho de mais de 1.200 funcionários. Nossa capacidade anual de fabricação de painéis para salas limpas é de mais de 7.989.000 m2, 72.000 portas e 2.200 equipamentos para salas limpas.
                    <br>
                </p>
                <a href="http://www.gmptech.net" target="_blank">gmptech.net ></a>
            </div>
        </div>
    </section>

{% endblock %}
