{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/Ketjurauma.jpg' %}" alt="">
                </div>
                <h1 id="company-name">KETJURAUMA OY</h1>
                <h4>FINLÂNDIA \ Correntes Transportadoras + Equipamentos para Indústria de Papel e Celulose</h4>
                <p>A Ketjurauma Oy fabrica correntes transportadoras soldadas e rebitadas de alta qualidade para aplicações industriais exigentes. A alta qualidade de nossos produtos é baseada em nossa vasta experiência e desenvolvimento contínuo de produtos. As correntes feitas pela Ketjurauma suportarão grande esforço mecânico e desgaste. Os pinos e buchas da corrente são fixados em placas laterais usando soldagem “V-braze”. A junta é reforçada ainda mais pela usinagem de um ressalto em pinos e buchas, o que garante a precisão dimensional e o movimento lateral da corrente. O espaço entre o pino e a bucha foi otimizado como resultado de nossa vasta experiência, e também melhorará a resistência ao desgaste, especialmente em condições adversas.
                    <br>
                </p>
                <a href="https://www.ketjurauma.fi/" target="_blank">ketjurauma.fi></a>
            </div>
        </div>
    </section>

{% endblock %}
