{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_LORDSTEEL.jpg' %}" alt="">
                </div>
                <h1 id="company-name">LORD STEEL INTERNATIONAL Co.Ltd.</h1>
                <h4>CHINA \ Tubos e Conexões</h4>
                <p>Líder Asiático no fornecimento de tubos industriais e canos que dependem de tecnologia avançada para produtos de alta qualidade. Somos especializados na produção de aço inoxidável sem costura e soldado/liga de níquel/cobre, tubos e canos de liga leve, bem como toda uma linha de acessórios para cada tubo, que disponibilizamos para todos os nossos clientes em todo o mundo.

                    A LSI fornece os produtos para mais de 50 países, até hoje, devido à excelente reputação e garantia de qualidade dos nossos produtos.
                    <br>
                </p>
                <a href="http://www.lordsteel.com" target="_blank">lordsteel.com ></a>
            </div>
        </div>
    </section>

{% endblock %}
