{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_MARONSTEEL.jpg' %}" alt="">
                </div>
                <h1 id="company-name">MARON STEEL</h1>
                <h4>PAÍSES BAIXOS \ Metalurgia + Tubos e Conexões</h4>
                <p>Seu fornecedor completo de tubos, conexões, flanges, barras e placas de válvulas de fabricantes e armazenistas de primeira classe localizados na Europa, EUA, Coréia do Sul e China.
                    <br>
                                    </p>
                <a href="http://www.maronsteel.com" target="_blank">maronsteel.com ></a>
            </div>
        </div>
    </section>

{% endblock %}
