{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_RaumasterOy.jpg' %}" alt="">
                </div>
                <h1 id="company-name">RAUMASTER OY</h1>
                <h4>FINLÂNDIA \ Equipamentos para Indústria de Papel e Celulose </h4>
                <p>A engenharia finlandesa nas indústrias de processamento de madeira e energia é de qualidade de classe mundial. A Raumaster Oy, fundada em 1984, é um fornecedor renomado de sistemas e equipamentos avançados de manuseio de materiais. Hoje nossa empresa é considerada líder global em seu ramo de negócios. A Raumaster se esforça continuamente para garantir a máxima confiabilidade e qualidade de nossos produtos e serviços pós-venda. Empregamos mais de 300 profissionais para garantir que os mais altos padrões sejam mantidos. O nosso volume de negócios é de aproximadamente 155 MEUR. O sucesso da Raumaster decorre da sua capacidade de fornecer entregas completas. Fornecemos sistemas de manuseio de materiais para a indústria de processamento de madeira e para usinas de energia. Nosso principal objetivo é a satisfação do cliente e a manutenção eficaz de relacionamentos duradouros com os clientes.
                    <br>
                </p>
                    <a href="https://www.raumaster.fi/" target="_blank">raumaster.fi ></a>
            </div>
        </div>
    </section>

{% endblock %}
