{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_RaumasterPpr.jpg' %}" alt="">
                </div>
                <h1 id="company-name">RAUMASTER PAPER</h1>
                <h4>FINLÂNDIA \ Equipamentos para Indústria de Papel e Celulose</h4>
                <p>A Raumaster Paper foi fundada em 2003 como parte do Grupo Raumaster para aprimorar a especialização na indústria de acabamento de papel. Os sistemas totalmente automatizados da Raumaster Paper lidam com fardos de celulose e rolos de papel/cartão desde o enrolamento até o carregamento. Aumentaremos a sua produtividade fornecendo soluções de acabamento económicas e fáceis de utilizar. Nossa visão é ser o fornecedor preferencial de acabamento de papel do setor.
                    <br>
                </p>
                    <a href="https://www.raumasterpaper.fi/" target="_blank">raumasterpaper.fi ></a>
            </div>
        </div>
    </section>

{% endblock %}
