{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_RKIND.jpg' %}" alt="">
                </div>
                <h1 id="company-name">R. KIND</h1>
                <h4>ALEMANHA \ Aços Especiais e Inoxidáveis + Metalurgia + Petróleo e Gás</h4>
                <p>Fundada em 1969, a Rolf Kind GmbH é especializada na produção de peças forjadas em aços inoxidáveis de alta liga e materiais resistentes à corrosão, bem como ligas à base de níquel e titânio. Adaptamos os processos de conformação e rotas de produção necessários com precisão às respectivas necessidades do cliente. Seja forjamento, laminação contínua ou aquecimento e recalque indutivo – encontramos o processo individualmente ideal para cada peça de trabalho. Como somos responsáveis ​​por toda a cadeia produtiva, somos capazes de implementar até os formatos de produtos mais exigentes: eixos, anéis, buchas, corpos ocos, peças redondas e quadradas, bem como quaisquer formatos especiais de acordo com a necessidade do cliente.
                    <br>
                </p>
                <a href="https://www.r-kind.de/de/" target="_blank">r-kind.de ></a>
            </div>
        </div>
    </section>

{% endblock %}
