{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_SCHLICK.jpg' %}" alt="">
                </div>
                <h1 id="company-name">SCHLICK</h1>
                <h4>ALEMANHA \ Equipamentos para Indústria Farmacêutica e de Alimentos + Metalurgia</h4>
                <p>Nossos bicos e sistemas de bicos são usados em uma enorme variedade de aplicações em todo o mundo e em quase todos os setores. Em particular, temos uma vasta experiência nos setores industrial, farmacêutico e de tecnologia alimentar. Em linha com o lema da nossa empresa, “Viver para soluções”, pretendemos encontrar a melhor solução para cada aplicação.
                    <br>
                </p>
                    <a href="https://www.myschlick.com/en/" target="_blank">myschlick.com ></a>
            </div>
        </div>
    </section>

{% endblock %}
