{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_SCHMIDTCLEMENS.jpg' %}" alt="">
                </div>
                <h1 id="company-name">SCHMIDT + CLEMENS</h1>
                <h4>ALEMANHA \ Aços Especiais e Inoxidáveis + Equipamentos para Indústria de Papel e Celulose + Metalurgia</h4>
                <p>Desde 1879, o nome Schmidt + Clemens é sinônimo da mais alta qualidade em aço inoxidável.

                    A partir de então, o selo “Made by S+C” tem sido uma garantia de componentes e soluções excepcionais em aços e ligas de alta qualidade. A área de negócio 
                    de “Produtos Especiais” da S+C abrange desde tubos fundidos centrifugamente até produtos semiacabados e abrange até mesmo componentes prontos para 
                    instalação. Seja resistente à corrosão, ao calor ou ao desgaste, os especialistas da S+C sempre encontram a solução certa para garantir que seus produtos 
                    tenham o desempenho máximo desejado. O processo de fabricação da S+C começa com fundição centrífuga sobre areia e microfusão e cobre até mesmo forjamento. 
                    Todos os nossos produtos são feitos exclusivamente de aços inoxidáveis e ligas de alta qualidade. Construções soldadas, se necessário montadas a partir de 
                    componentes de diferentes processos de fabricação, também são uma especialidade da S+C. Essa versatilidade é única na indústria do aço inoxidável e oferece 
                    aos nossos clientes as soluções necessárias em um único fornecedor.
                    <br>
                </p>
                    <a href="https://www.schmidt-clemens.com/" target="_blank">schmidt-clemens.com ></a>
            </div>
        </div>
    </section>

{% endblock %}
