{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_SIEPMANN.jpg' %}" alt="">
                </div>
                <h1 id="company-name">SIEPMANN WERKE</h1>
                <h4>ALEMANHA \ Metalurgia</h4>
                <p>Desenvolvemos, produzimos e comercializamos soluções de produtos feitos de aço, sofisticados e específicos para cada cliente. 125 anos de experiência que 
                    foram continuamente construídos e transmitidos até a quarta geração da família fundadora, nos tornam verdadeiros especialistas quando se trata de processos 
                    de forjamento, tratamento térmico, metalurgia, usinagem, montagem de unidades e soldadura. Com um volume de negócios anual de cerca de 85 milhões de euros, 
                    cerca de 450 funcionários e parceiros de vendas em todo o mundo, somos um dos líderes do mercado europeu.
                    <br>
                    </p>
                    <a href="https://www.siepmann.de/?lang=en" target="_blank">siepmann.de ></a>
            </div>
        </div>
    </section>

{% endblock %}
