{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_TME.jpg' %}" alt="">
                </div>
                <h1 id="company-name">TERMOMECCÂNICA S.p.A.</h1>
                <h4>ITÁLIA \ Tecnologias Ambientais</h4>
                <p>Empresa italiana especializada na concepção, construção de obras de engenharia ambiental e industrial. <br>(Recuperação de solventes puros de ar poluído com 
                    solventes ou vapores líquidos, Oxidação térmica de gases como TO e RTO, Tratamento de gases de combustão como DeNOx ou DeSOx, Instalações de incineração 
                    de resíduos líquidos perigosos.)
                    <br>
                </p>
                    <a href="https://www.tme.termomeccanica.com/" target="_blank">tme.termomeccanica.com ></a>
                    <br>
                    <a href="https://www.tmip.termomeccanica.com/" target="_blank">tmip.termomeccanica.com ></a>
            </div>
        </div>
    </section>

{% endblock %}
