{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_VANASONNEck.jpg' %}" alt="">
                </div>
                <h1 id="company-name">VANA ANLAGENBAU GmbH & Co KG</h1>
                <h4>ÁUSTRIA \ Equipamentos para Indústria Farmacêutica e de Alimentos</h4>
                <p>Sonnek é fabricante de equipamentos de usados em produtos alimentares e bebidas, tais como bombas, filtros e dosadoras. Dentro do grupo Sonnek, a empresa VANA tem como foco principal os equipamentos para a indústria alimentícia.

                    <br>A VANA fornece sistemas de liquefação industriais em grande escala e sob medida com aplicacções por exemplo na produção de manteiga, margarina e cacau, através de soluções completas em uma única fonte:
                    
                    <br>→ Planejamento e design;
                    
                    <br>→ Tanques e agitadores;
                    
                    <br>→ Construção de dutos;
                    
                    <br>→ Sistemas de aquecimento;
                    
                    <br>→ Conhecimento em aquecimento/controle de temperatura de camisas de água;
                    
                    <br>→ Instalação e comissionamento.
                    

                    <br>
                </p>
                    <a href="https:///sonnek.com/en" target="_blank">sonnek.com ></a>
            </div>
        </div>
    </section>

{% endblock %}
