{% extends 'app/layout.html' %}
{% load static %}

{% block main %}
    <section style="margin-top: 8rem; height: auto; min-height: 70vh;" class="catalogos-page">
        <div class="catalogos-text-container">
            <h1>Catálogos</h1>
            <p>Clique no Download do catálogo desejado, e preencha os campos do formulário para baixar o arquivo.</p>
        </div>
        
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Empresa/Título</th>
                        <th>Formato</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>BALLESTRA-DSSC Chemicals</td>
                        <td>PDF (1,94 MB)</td>
                         <td><a href="#" class="popup" id="download-ballestra" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr></tr>
                        <td>BFT-ECOTRON-EN-1</td>
                        <td>PDF (3,38 MB)</td>
                         <td><a href="#" class="popup" id="download-bft-1" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr></tr>
                        <td>BFT-High-Pressure-Pumps-Chemical-Application-EN</td>
                        <td>PDF (1,48 MB)</td>
                         <td><a href="#" class="popup" id="download-bft-2" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr></tr>
                        <td>BFT-SERVOTRON-EN-1</td>
                        <td>PDF (3,39 MB)</td>
                         <td><a href="#" class="popup" id="download-bft-3" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr></tr>
                        <td>Bowers Jones</td>
                        <td>PDF (1,96 MB)</td>
                         <td><a href="#" class="popup" id="download-bowers" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr></tr>
                        <td>Breitenfeld Steel Company Presentation AG 2024_ENG</td>
                        <td>PDF (4,66 MB)</td>
                         <td><a href="#" class="popup" id="download-breitenfeld" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr></tr>
                        <td>Conthermo</td>
                        <td>PDF (1,45 MB)</td>
                        <td><a href="#" class="popup" id="download-conthermo" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    <tr></tr>
                        <td>DEKOMTE - DEKOMTE Profile</td>
                        <td>PDF (4,78 MB)</td>
                        <td><a href="#" class="popup" id="download-dekomte-1" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr>
                        <td>DEKOMTE - Fabric Expansion Joints</td>
                        <td>PDF (5,44 MB)</td>
                        <td><a href="#" class="popup" id="download-dekomte-2" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr>
                        <td>DEKOMTE - Gas Turbine and Combined Cycle Plants</td>
                        <td>PDF (4,22 MB)</td>
                        <td><a href="#" class="popup" id="download-dekomte-3" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr>
                        <td>DEKOMTE - Steam Boiler Plants</td>
                        <td>PDF (4,69 MB)</td>
                        <td><a href="#" class="popup" id="download-dekomte-4" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr></tr>
                        <td>GKT-Portfolio-English</td>
                        <td>PDF (1,35 MB)</td>
                         <td><a href="#" class="popup" id="download-GKT" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr></tr>
                        <td>GMP</td>
                        <td>PDF (1,80 MB)</td>
                         <td><a href="#" class="popup" id="download-gmp" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr></tr>
                        <td>Lord Steel</td>
                        <td>PDF (1,53 MB)</td>
                         <td><a href="#" class="popup" id="download-lordsteel" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr></tr>
                        <td>Morandini</td>
                        <td>PDF (5,95 MB)</td>
                         <td><a href="#" class="popup" id="download-morandini" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr>
                        <td>RMP-Company_2024</td>
                        <td>PDF (3,20 MB)</td>
                        <td><a href="#" class="popup" id="download-rmp" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr>
                        <td>SBN</td>
                        <td>PDF (1,12 MB)</td>
                        <td><a href="#" class="popup" id="download-sbn" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr>
                        <td>Schlick</td>
                        <td>PDF (2,05 MB)</td>
                        <td><a href="#" class="popup" id="download-schlick" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr>
                        <td>Schmidt + Clemens</td>
                        <td>PDF (1,43 MB)</td>
                        <td><a href="#" class="popup" id="download-schmidtclemens" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr>
                        <td>Sonnek</td>
                        <td>PDF (7,88 MB)</td>
                        <td><a href="#" class="popup" id="download-sonnek" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr>
                        <td>Termomeccanica</td>
                        <td>PDF (2,66 MB)</td>
                        <td><a href="#" class="popup" id="download-termomeccanica" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                    <tr>
                        <td>UreaKnowHow</td>
                        <td>PDF (1,50 MB)</td>
                        <td><a href="#" class="popup" id="download-ureaknowhow" download><i class="fa-solid fa-circle-arrow-down" style="margin-right: 10px;"></i>Download</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <div id="overlay"> -->
            <div class="pop-up-download">
                <div>
                    <h1 id="download-h1text">Preencha os dados</h1>
                </div>
                <div>
                    <form method="POST" class="download-form" action="{% url 'catalogos' %}" id="catalogoForm">
                        {% csrf_token %}
                        <div>
                            <label for="nome">Nome completo</label>
                            <input type="text" name="nome" id="nomeForm" required>

                            <label for="email">E-mail</label>
                            <input type="text" name="email" id="emailForm" required>

                            <label for="celular">Celular</label>
                            <input type="text" name="celular" id="celularForm" required>

                            <label for="empresa">Nome da empresa / Localidade</label>
                            <input type="text" name="empresa" id="empresaForm" required>

                            <label for="produto">Produto de interesse / Empresa representada</label>
                            <input type="text" name="produto" id="produtoForm" required>

                            <label for="motivo">Motivo do contato</label>
                            <textarea name="motivo" id="motivoForm" style="resize: none;" required></textarea>
                        </div>
                         <button type="submit" id="sendButton">Enviar</button>
                    </form>
                </div>
                <div class="icon-popup">
                    <i class="fa-solid fa-xmark fa-2x" id="closepopup"></i>
                </div>
            </div>
        <!-- </div> -->
         <div id="overlay">

         </div>
    </section>
{% endblock %}
