{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"/> 
        <link rel="stylesheet" href="{% static 'app/styles.css'%}">
        <link rel="icon" href="{% static 'app/ICONs.png' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{% static 'app/main.js' %}"></script>
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

        <title>{% block title %}Pgutt{% endblock %}</title>
    </head>
    <body>


        <header class="header" id="header">
            <nav class="navbar">

                <div class="nav-container container">
                    <div class="logo-container">
                        <a href="{% url 'index' %}"><img id="logo" src="{% static 'app/logos/LOGO.png' %}"></a>
                    </div>

                    <div class="menu-icons">
                        <i class="fa-solid fa-bars" id="bar-open"></i>
                    </div>

                    <ul class="nav-items">
                        <li class="dropdown">
                            <a id="menu-link">Institucional</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'index' %}#sobreapgutt">Sobre a P. Gutt</a></li>
                                <li><a href="{% url 'index' %}#diretrizesancor">Diretrizes</a></li>                            
                                <li><a href="{% url 'index' %}#equipe">Equipe</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a id="menu-link">Setores e Empresas</a>
                            <ul class="dropdown-menu larger-dropdown">
                                <li class="dropright">
                                    <a>Aços Especiais e Inoxidáveis</a>
                                    <ul class="dropright-menu right-menu">
                                        <li><a href="{% url 'breitenfeldsteel' %}">BREITENFELD STEEL</a></li>
                                        <li><a href="{% url 'lordsteel' %}">LORD STEEL INTERNATIONAL Co.Ltd.</a></li>
                                        <li><a href="{% url 'rkind' %}">R.KIND</a></li>
                                        <li><a href="{% url 'schmidtclemens' %}">SCHMIDT + CLEMENS</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a>Correntes Transportadoras</a>
                                    <ul class="dropright-menu" style="width: 150px;">                                        
                                        <li><a href="{% url 'ketjurauma' %}">KETJURAUMA OY</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a>Equipamentos de Alta Pressão</a>
                                    <ul class="dropright-menu" style="width: 150px;">
                                        <li><a href="{% url 'bft' %}">BFT</a></li>
                                        <li><a href="{% url 'bhdt' %}">BHDT</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a>Equipamentos para Indústria de Papel e Celulose</a>
                                    <ul class="dropright-menu" style="width: 200px;">
                                        <li><a href="{% url 'gkt' %}">GKT</a></li>
                                        <li><a href="{% url 'raumasteroy' %}">RAUMASTER OY</a></li>
                                        <li><a href="{% url 'raumasterpaper' %}">RAUMASTER PAPER</a></li>
                                        <li><a href="{% url 'schmidtclemens' %}">SCHMIDT + CLEMENS</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a>Equipamentos para Indústria Farmacêutica e de Alimentos</a>
                                    <ul class="dropright-menu right-menu">
                                        <!-- <li><a href="{% url 'agierre' %}">AGIERRE</a></li> -->
                                        <li><a href="{% url 'schlick' %}">SCHLICK</a></li>
                                        <li><a href="{% url 'vana' %}">VANA ANLAGENBAU GmbH & Co KG</a></li>

                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a>Fornos</a>
                                    <ul class="dropright-menu" style="width: 200px;">
                                        <li><a href="{% url 'conthermo' %}">CONTHERMO</a></li>
                                        <!-- <li><a href="{% url 'raumasterpaper' %}">RAUMASTER PAPER</a></li> -->
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a>Juntas de Expansão</a>
                                    <ul class="dropright-menu" style="width: 200px;">
                                        <li><a href="{% url 'dekompte' %}">DEKOMTE</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a>Metalurgia</a>
                                    <ul class="dropright-menu right-menu">
                                        <li><a href="{% url 'breitenfeldsteel' %}">BREITENFELD STEEL</a></li>
                                        <li><a href="{% url 'fundicaomorandini' %}">FUNDIÇÃO MORANDINI</a></li>
                                        <li><a href="{% url 'lordsteel' %}">LORD STEEL INTERNATIONAL Co.Ltd.</a></li>
                                        <li><a href="{% url 'maronsteel' %}">MARON STEEL</a></li>
                                        <li><a href="{% url 'schlick' %}">SCHLICK</a></li>
                                        <li><a href="{% url 'schmidtclemens' %}">SCHMIDT + CLEMENS</a></li>
                                        <li><a href="{% url 'siepmannwerke' %}">SIEPMANN WERKE</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                <a>Petróleo e Gás</a>
                                <ul class="dropright-menu right-menu" style="width: 200px;">
                                    <li><a href="{% url 'christofgroup' %}">CHRISTOF GROUP SBN</a></li>
                                    <li><a href="{% url 'gkt' %}">GKT</a></li>
                                    <li><a href="{% url 'rkind' %}">R. KIND</a></li>
                                    <li><a href="{% url 'termomeccanica' %}">TERMOMECCÂNICA S.p.A.</a></li>
                                </ul>
                                <li class="dropright">
                                    <a>Portas e Painéis para Salas Limpas</a>
                                    <ul class="dropright-menu" style="width: 100px;">
                                        <li><a href="{% url 'gmp' %}">GMP</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a>Produtos Químicos</a>
                                    <ul class="dropright-menu right-menu" style="width: 200px;">
                                        <li><a href="{% url 'ballestra' %}">BALLESTRA</a></li>
                                        <li><a href="{% url 'gkt' %}">GKT</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a>Tecnologias Ambientais</a>
                                    <ul class="dropright-menu right-menu" style="width: 200px;">
                                        <li><a href="{% url 'gkt' %}">GKT</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a>Termoelétricas</a>
                                    <ul class="dropright-menu right-menu" style="width: 200px;">
                                        <li><a href="{% url 'dekompte' %}">DEKOMTE</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a>Tubos e Conexões</a>
                                    <ul class="dropright-menu right-menu">
                                        <li><a href="{% url 'lordsteel' %}">LORD STEEL INTERNATIONAL Co.Ltd.</a></li>
                                        <li><a href="{% url 'maronsteel' %}">MARON STEEL</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a href="{% url 'empresas' %}" id="todasasempresas">Todas as Empresas Representadas</a>
                                    <ul class="dropright-menu right-menu" style="display: none;">
                                        <li><a href="{% url 'agierre' %}">AGIERRE</a></li>
                                        <li><a href="{% url 'ballestra' %}">BALLESTRA</a></li>
                                        <li><a href="{% url 'bft' %}">BFT</a></li>
                                        <li><a href="{% url 'bhdt' %}">BHDT</a></li>
                                        <li><a href="{% url 'breitenfeldsteel' %}">BREITENFELD STEEL</a></li>
                                        <li><a href="{% url 'christofgroup' %}">CHRISTOF GROUP SBN</a></li>
                                        <li><a href="{% url 'conthermo' %}">CON THERMO</a></li>
                                        <li><a href="{% url 'fundicaomorandini' %}">FUNDIÇÃO MORANDINI</a></li>
                                        <li><a href="{% url 'gkt' %}">GKT</a></li>
                                        <li><a href="{% url 'gmp' %}">GMP</a></li>
                                        <li><a href="{% url 'lordsteel' %}">LORD STEEL INTERNATIONAL Co.Ltd.</a></li>
                                        <li><a href="{% url 'maronsteel' %}">MARON STEEL</a></li>
                                        <li><a href="{% url 'raumasteroy' %}">RAUMASTER OY</a></li>
                                        <li><a href="{% url 'raumasterpaper' %}">RAUMASTER PAPER</a></li>
                                        <li><a href="{% url 'schlick' %}">SCHLICK</a></li>
                                        <li><a href="{% url 'schmidtclemens' %}">SCHMIDT + CLEMENS</a></li>
                                        <li><a href="{% url 'siepmannwerke' %}">SIEPMANN WERKE</a></li>
                                        <li><a href="{% url 'termomeccanica' %}">TERMOMECCÂNICA S.p.A.</a></li>
                                        <li><a href="{% url 'vana' %}">VANA ANLAGENBAU GmbH & Co KG</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a id="menu-link" href="{% url 'catalogos' %}">Catálogos</a></li>
                        <li><a id="menu-link" href="#footer">Contato</a></li>

                        <div class="languageswitcher-container">
                            <li class="dropdown-language">
                                <a class="flag-link"><img class="flag-icon" id="brasilflag" src="{% static 'app/brasilflag.png' %}"></a>
                            </li>
                        </div>
                    </ul>

                    <ul class="responsive-nav-items">
                        <div class="menu-icons">
                            <i class="fa-solid fa-xmark" id="x-closed"></i>
                        </div>

                        <li><a href="{% url 'index' %}">Institucional</a></li>
                        <li><a href="{% url 'empresas' %}">Setores e Empresas</a></li>
                        <li><a href="{% url 'catalogos' %}">Catálogos</a></li>
                        <li><a href="#footer">Contato</a></li>
                    </ul>

                </div>
            </nav>
        </header>


        <main>
            {% block main %}{% endblock %}
        </main>


        <footer>
            <div class="map">
                <a id="empresa1">P. Gutt Representações Ltda.</a>
                <a id="empresa2">GMP</a>
                <a id="empresa3">LORD STEEL INTERNATIONAL</a>
                <a id="empresa4">empresa4</a>
                <a id="empresa5">empresa5</a>
                <a id="empresa6">empresa6</a>
                <a id="empresa7">AGIERRE<br>BALLESTRA<br>FUNDIÇÃO MORANDINI<br>TERMOMECCÂNICA S.p.A.</a>
                <a id="empresa8">empresa8</a>
                <a id="empresa9">empresa9</a>
            </div>


            <div class="footer-container" id="footer">
                <div class="contato-text-container">
                    <h1 id="h1-1">Contato</h1>
                </div>
                
                <div class="info-container">
                    <p>
                        <b style="color: white; font-size: 20px;">                    
                            P. Gutt Representações e Comércio de Equipamentos, Ltda.</b>
                        <br>
                       Endereço: Avenida Delfim Moreira, 1160, Sobrado - Várzea
                        <br>
                        CEP 25953-236 TERESÓPOLIS/RJ - BRASIL
                        <br>
                        Telefone: +55 (21) 2643-1727
                        <br>
                        <a href="mailto:pgutt@pgutt.com.br">Email: pgutt@pgutt.com.br</a>
                        
                    </p>
                </br>
                </div>

                <div class="footer-icons">
                    <a><img src="{% static 'app/ICON_Address.png' %}" alt=""></a>
                    <a><img src="{% static 'app/ICON_Phone.png' %}" alt=""></a>
                    <a><img src="{% static 'app/ICON_Email.png' %}" alt=""></a>
                    <a href="https://www.linkedin.com/company/pguttrepresentacoesltda/about/" target="_blank"><img src="{% static 'app/Icon-LinkedinB.png' %}" alt=""></a>
                </div>
                
                <div class="copyright-text-container">
                    <h2 id="copyright-text"> Copyright © 2024 - P. Gutt Representações e Comércio de Equipamentos, Ltda. Todos os direitos reservados.</h2>
                </div>
            </div>
        </footer>


    </body>
</html>